$bgcolor2: #ff4448;
$text-color: #121212;
$text-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

.component2 {
    background: $bgcolor2;
    overflow: auto;
    max-width: 2000px;
    border-radius: 8px;
    padding: 60px;
    margin: 60px;
}

.phishing-description {
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    font-family: $text-font;
    color: $text-color;
    margin: 0px;
}
